body {
    margin: 0;
}

img {
    margin-top: 10%;
}

.all {
    text-align: center;
    background-color: rgb(201, 192, 192);
    width: 18%;
    margin-top: 1%;
    margin-left: 41%;
    margin-right: 41%;
}


